/****** Object:  StoredProcedure [dbo].[GetTMDashboardDetails]    Script Date: 10/8/2026 3:02:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetTMDashboardDetails] 
    @TMUserCode NVARCHAR(50),
	@SelectedCustomer NVARCHAR(50) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Get Current Month and Year
    DECLARE @CurrentMonth INT = MONTH(GETDATE());
    DECLARE @CurrentYear INT = YEAR(GETDATE());
    
    -- Get customers under this TM
    DECLARE @CustomerList TABLE (CustomerCode NVARCHAR(50), CustomerName NVARCHAR(100));
    INSERT INTO @CustomerList
    EXEC GetUserCustomers @UserCode = @TMUserCode;

	IF @SelectedCustomer IS NOT NULL
   BEGIN
    DELETE FROM @CustomerList 
    WHERE CustomerCode <> @SelectedCustomer;
   END
    
    -- 1. YTD Sales
    -- A. By Value
    SELECT 
        -- Sales Value (from InvoiceHeader only)
        (SELECT ISNULL(SUM(CASE 
                WHEN YEAR(h_inner.BillingDate) = @CurrentYear THEN CONVERT(DECIMAL(18,2), h_inner.TotalInvoiceValue) 
                ELSE 0 
            END), 0)
        FROM (
            SELECT DISTINCT h_distinct.BillingDocument, h_distinct.BillingDate, h_distinct.TotalInvoiceValue
            FROM TB_InvoiceHeader h_distinct
            INNER JOIN DealerOrderMHZPC d_distinct ON h_distinct.SalesOrderNo = d_distinct.SoNumber
            INNER JOIN OrdersMHZPC o_distinct ON d_distinct.OrderNumber = o_distinct.OrderNumber
            WHERE o_distinct.CustomerCode IN (SELECT CustomerCode FROM @CustomerList)
              AND h_distinct.SalesOrganisation = 'MZ01'
        ) h_inner) AS TotalYTDSaleValue,
          
        -- Sales Quantity (using InvoiceItemDetails)
        (SELECT ISNULL(SUM(item_qty.BilledQty), 0)
         FROM (
             -- First get the relevant BillingDocuments
             SELECT DISTINCT h.BillingDocument
             FROM TB_InvoiceHeader h
             INNER JOIN DealerOrderMHZPC d ON h.SalesOrderNo = d.SoNumber
             INNER JOIN OrdersMHZPC o ON d.OrderNumber = o.OrderNumber
             WHERE o.CustomerCode IN (SELECT CustomerCode FROM @CustomerList)
               AND h.SalesOrganisation = 'MZ01'
               AND YEAR(h.BillingDate) = @CurrentYear
         ) relevant_docs
         -- Then join to items and sum quantities
         INNER JOIN TB_InvoiceItemDetails item_qty ON relevant_docs.BillingDocument = item_qty.BillingDocument
        ) AS TotalYTDSaleQuantity;
    
    -- 2. Turnover by Financial Year
   SELECT 
        fin_year.FinancialYear,
        ISNULL(SUM(fin_year.TotalValue), 0) AS TotalValue,
        ISNULL(SUM(fin_year.TotalQuantity), 0) AS TotalQuantity
    FROM (
        -- Get financial year and total value (from InvoiceHeader)
        SELECT 
            CASE 
                WHEN MONTH(h_distinct.BillingDate) >= 4 THEN 'FY' + RIGHT(CAST(YEAR(h_distinct.BillingDate) AS VARCHAR), 2)
                ELSE 'FY' + RIGHT(CAST(YEAR(h_distinct.BillingDate) - 1 AS VARCHAR), 2)
            END AS FinancialYear,
            CONVERT(DECIMAL(18,2), h_distinct.TotalInvoiceValue) AS TotalValue,
            0 AS TotalQuantity
        FROM (
            SELECT DISTINCT h_inner.BillingDocument, h_inner.BillingDate, h_inner.TotalInvoiceValue
            FROM TB_InvoiceHeader h_inner
            INNER JOIN DealerOrderMHZPC d_inner ON h_inner.SalesOrderNo = d_inner.SoNumber
            INNER JOIN OrdersMHZPC o_inner ON d_inner.OrderNumber = o_inner.OrderNumber
            WHERE o_inner.CustomerCode IN (SELECT CustomerCode FROM @CustomerList)
              AND h_inner.SalesOrganisation  = 'MZ01'
        ) h_distinct


        UNION ALL

        -- Get financial year and total quantity (from InvoiceItemDetails)
        SELECT 
            CASE 
                WHEN MONTH(h.BillingDate) >= 4 THEN 'FY' + RIGHT(CAST(YEAR(h.BillingDate) AS VARCHAR), 2)
                ELSE 'FY' + RIGHT(CAST(YEAR(h.BillingDate) - 1 AS VARCHAR), 2)
            END AS FinancialYear,
            0 AS TotalValue,
            item_qty.BilledQty AS TotalQuantity
        FROM (
            -- First get the relevant BillingDocuments with their dates
            SELECT DISTINCT h.BillingDocument, h.BillingDate
            FROM TB_InvoiceHeader h
            INNER JOIN DealerOrderMHZPC d ON h.SalesOrderNo = d.SoNumber
            INNER JOIN OrdersMHZPC o ON d.OrderNumber = o.OrderNumber
            WHERE o.CustomerCode IN (SELECT CustomerCode FROM @CustomerList)
              AND h.SalesOrganisation  = 'MZ01'
        ) h
        -- Then join to items to get quantities
        INNER JOIN TB_InvoiceItemDetails item_qty ON h.BillingDocument = item_qty.BillingDocument
    ) fin_year
    GROUP BY fin_year.FinancialYear
    ORDER BY fin_year.FinancialYear;
    
    -- 3. Pending Orders
    SELECT COUNT(OrderNumber) AS PendingOrders
    FROM OrdersMHZPC
    WHERE CustomerCode IN (SELECT CustomerCode FROM @CustomerList)
      AND OrderStatus = 'Pending';
    
    -- 4. Approved Bookings
    SELECT COUNT(OrderNumber) AS ApprovedBookings
    FROM OrdersMHZPC
    WHERE CustomerCode IN (SELECT CustomerCode FROM @CustomerList)
      AND OrderStatus = 'Approved';
    
    -- 5. My Outstanding
    -- A. Booking Advance
    SELECT 
        ISNULL(SUM(CONVERT(DECIMAL(18,2), d.BookingAmount)) + 
               SUM(ISNULL(CONVERT(DECIMAL(18,2), d.SecondaryBookingAmount), 0)), 0) AS TotalBookingAdvance
    FROM DealerOrderMHZPC d
    INNER JOIN OrdersMHZPC o ON d.OrderNumber = o.OrderNumber
    WHERE o.CustomerCode IN (SELECT CustomerCode FROM @CustomerList);
    
    -- B. Balance Due
    SELECT 
        ISNULL(SUM(CONVERT(DECIMAL(18,2), d.BalanceAmountToPay)) + 
               SUM(ISNULL(CONVERT(DECIMAL(18,2), d.SecondaryBalanceAmountToPay), 0)), 0) AS TotalBalanceDue
    FROM DealerOrderMHZPC d
    INNER JOIN OrdersMHZPC o ON d.OrderNumber = o.OrderNumber
    WHERE o.CustomerCode IN (SELECT CustomerCode FROM @CustomerList);
    
    -- C. Order Amount
    SELECT 
        ISNULL(SUM(CONVERT(DECIMAL(18,2), d.OrderAmount)) + 
               SUM(ISNULL(CONVERT(DECIMAL(18,2), d.SecondaryOrderAmount), 0)), 0) AS TotalOrderAmount
    FROM DealerOrderMHZPC d
    INNER JOIN OrdersMHZPC o ON d.OrderNumber = o.OrderNumber
    WHERE o.CustomerCode IN (SELECT CustomerCode FROM @CustomerList);
END
GO
