/****** Object:  StoredProcedure [dbo].[USP_ExportApproverHierarchyByCompany]    Script Date: 10/8/2026 1:55:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[USP_ExportApproverHierarchyByCompany]
(
    @CompanyCode BIGINT
)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        C.CustomerCode,
        C.CustomerName,

        -- First Approver
        ISNULL(C.TM, '') AS FirstApproverCode,
        ISNULL(U1.Name, '') AS FirstApproverName,

        -- Second Approver
        ISNULL(U1.RepManCode, '') AS SecondApproverCode,
        ISNULL(U2.Name, '') AS SecondApproverName,

        -- Third Approver
        ISNULL(U2.RepManCode, '') AS ThirdApproverCode,
        ISNULL(U3.Name, '') AS ThirdApproverName

    FROM dbo.TB_CustomerMaster C

    LEFT JOIN dbo.Users U1
        ON U1.CompanyCode = C.CompanyCode
        AND U1.UserCode = C.TM

    LEFT JOIN dbo.Users U2
        ON U2.CompanyCode = U1.CompanyCode
        AND U2.UserCode = U1.RepManCode

    LEFT JOIN dbo.Users U3
        ON U3.CompanyCode = U2.CompanyCode
        AND U3.UserCode = U2.RepManCode

    WHERE C.CompanyCode = @CompanyCode

    ORDER BY C.CustomerCode;
END;
GO
