/****** Object:  StoredProcedure [dbo].[USP_GetAllApproverHierarchyByCompany]    Script Date: 10/4/2026 6:46:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_GetAllApproverHierarchyByCompany]
(
    @CompanyCode BIGINT,
     @PageNumber INT,
    @PageSize INT
)
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @Offset INT = (@PageNumber - 1) * @PageSize;
;WITH HierarchyData AS
    (
    SELECT 
        C.CompanyCode,
        C.CustomerCode,
        C.CustomerName,

        -- First Approver (TM)
        C.TM AS FirstApproverCode,
        U1.Name AS FirstApproverName,

        -- Second Approver
        U1.RepManCode AS SecondApproverCode,
        U2.Name AS SecondApproverName,

        -- Third Approver
        U2.RepManCode AS ThirdApproverCode,
        U3.Name AS ThirdApproverName

    FROM TB_CustomerMaster C

    LEFT JOIN Users U1 
        ON U1.CompanyCode = C.CompanyCode
        AND U1.UserCode = C.TM

    LEFT JOIN Users U2
        ON U2.CompanyCode = U1.CompanyCode
        AND U2.UserCode = U1.RepManCode

    LEFT JOIN Users U3
        ON U3.CompanyCode = U2.CompanyCode
        AND U3.UserCode = U2.RepManCode

    WHERE C.CompanyCode = @CompanyCode
    )
    SELECT *
    FROM HierarchyData
    ORDER BY CustomerCode
    OFFSET @Offset ROWS
    FETCH NEXT @PageSize ROWS ONLY;

    -- Total Count
    SELECT COUNT(*) AS TotalRecords
    FROM TB_CustomerMaster
    WHERE CompanyCode = @CompanyCode;
END
GO
