/****** Object:  StoredProcedure [dbo].[GetHierarchicalUsersByRoleId]    Script Date: 10/8/2026 1:55:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetHierarchicalUsersByRoleId]
(
    @UserCode NVARCHAR(50),
    @RoleId INT,
    @RequestedRoleId INT
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @CompanyCode BIGINT = 1054;

    SELECT
        U.[UserCode],
        U.[CompanyCode],
        U.[UserType],
        U.[Name],
        U.[Email],
        U.[RepManCode],
        U.[IsActive],
        U.[RoleId],
        U.[UserId],

        CASE
            WHEN U.RoleId = 1
                THEN ISNULL(CustomerRegion.RegionDescription, '')
            ELSE ''
        END AS Region

    FROM dbo.Users U

    OUTER APPLY
    (
        SELECT TOP (1)
            CM.RegionDescription
        FROM dbo.TB_CustomerMaster CM
        WHERE U.RoleId = 1
          AND CM.CustomerCode = U.UserCode
          AND CM.CompanyCode = U.CompanyCode
        ORDER BY
           
            CM.CustomerId DESC
    ) CustomerRegion

    WHERE
        U.CompanyCode = @CompanyCode
        AND U.RoleId = @RequestedRoleId
        AND
        (
            ---------------------------------------------------------
            -- Business Admin, BHM and NSM
            -- Can see all Customers, TMs and ZMs
            ---------------------------------------------------------
            (
                @RoleId IN (7, 6, 5)
            )

            OR

            ---------------------------------------------------------
            -- Zonal Manager requesting Territory Managers
            ---------------------------------------------------------
            (
                @RoleId = 4
                AND @RequestedRoleId = 2
                AND
                (
                    -- TM directly reporting to ZM
                    U.RepManCode = @UserCode

                    OR

                    -- TM reporting to an RM under the ZM
                    U.RepManCode IN
                    (
                        SELECT RM.UserCode
                        FROM dbo.Users RM
                        WHERE RM.RoleId = 3
                          AND RM.RepManCode = @UserCode
                          AND RM.IsActive = 1
                          AND RM.CompanyCode = @CompanyCode
                    )
                )
            )

            OR

            ---------------------------------------------------------
            -- Zonal Manager requesting Customers
            ---------------------------------------------------------
            (
                @RoleId = 4
                AND @RequestedRoleId = 1
                AND
                (
                    -- Customer directly reporting to ZM
                    U.RepManCode = @UserCode

                    OR

                    -- Customer reporting to a TM under the ZM
                    U.RepManCode IN
                    (
                        SELECT TM.UserCode
                        FROM dbo.Users TM
                        WHERE TM.RoleId = 2
                          AND TM.CompanyCode = @CompanyCode
                          AND
                          (
                              -- TM directly reporting to ZM
                              TM.RepManCode = @UserCode

                              OR

                              -- TM reporting to RM under ZM
                              TM.RepManCode IN
                              (
                                  SELECT RM.UserCode
                                  FROM dbo.Users RM
                                  WHERE RM.RoleId = 3
                                    AND RM.RepManCode = @UserCode
                                    AND RM.CompanyCode = @CompanyCode
                              )
                          )
                    )
                )
            )

            OR

            ---------------------------------------------------------
            -- Regional Manager requesting Territory Managers
            ---------------------------------------------------------
            (
                @RoleId = 3
                AND @RequestedRoleId = 2
                AND U.RepManCode = @UserCode
            )

            OR

            ---------------------------------------------------------
            -- Regional Manager requesting Customers
            ---------------------------------------------------------
            (
                @RoleId = 3
                AND @RequestedRoleId = 1
                AND U.RepManCode IN
                (
                    SELECT TM.UserCode
                    FROM dbo.Users TM
                    WHERE TM.RoleId = 2
                      AND TM.RepManCode = @UserCode
                      AND TM.IsActive = 1
                      AND TM.CompanyCode = @CompanyCode
                )
            )

            OR

            ---------------------------------------------------------
            -- Territory Manager requesting Customers
            ---------------------------------------------------------
            (
                @RoleId = 2
                AND @RequestedRoleId = 1
                AND U.RepManCode = @UserCode
            )
        )

    ORDER BY U.Name;

    SET NOCOUNT OFF;
END
GO
