SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE OR ALTER PROCEDURE [dbo].[GetTMStock]
    @TM NVARCHAR(50),
    @CompanyCode BIGINT,
    @Plant NVARCHAR(50) = NULL,
    @StorageLocation NVARCHAR(50) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    ------------------------------------------------------------
    -- 1. GET REQUESTING USER ROLE
    ------------------------------------------------------------
    DECLARE @UserRoleId INT = 0;

    SELECT TOP (1)
        @UserRoleId = ISNULL(RoleId, 0)
    FROM Users
    WHERE UserCode = @TM
      AND CompanyCode = @CompanyCode
      AND IsActive = 1;


 ------------------------------------------------------------
-- ROLE BASED ACCESS
--
-- RoleId = 2 : TM
-- RoleId = 3 : RM
-- RoleId = 4 : ZM
-- RoleId > 4 : Higher roles
------------------------------------------------------------


------------------------------------------------------------
-- ROLE 2 : TM
-- TM sees only his own mapped customers/plants
------------------------------------------------------------
IF @UserRoleId = 2
BEGIN

    INSERT INTO #AccessibleTMs
    (
        TMCode
    )
    SELECT DISTINCT
        CM.TM
    FROM TB_CustomerMaster CM
    WHERE CM.CompanyCode = @CompanyCode
      AND CM.TM = @TM
      AND CM.TM IS NOT NULL;

END


------------------------------------------------------------
-- ROLE 3 : RM
-- RM sees TMs reporting to him
-- Also include RM himself if CustomerMaster directly
-- contains his code as TM
------------------------------------------------------------
ELSE IF @UserRoleId = 3
BEGIN

    INSERT INTO #AccessibleTMs
    (
        TMCode
    )
    SELECT DISTINCT
        X.TMCode
    FROM
    (
        --------------------------------------------------------
        -- TMs reporting to this RM
        --------------------------------------------------------
        SELECT
            U.UserCode AS TMCode
        FROM Users U
        WHERE U.CompanyCode = @CompanyCode
          AND U.RepManCode = @TM
          AND U.RoleId = 2
          AND U.IsActive = 1

        UNION

        --------------------------------------------------------
        -- Include RM himself if directly mapped in
        -- CustomerMaster.TM
        --------------------------------------------------------
        SELECT
            @TM AS TMCode
        WHERE EXISTS
        (
            SELECT 1
            FROM TB_CustomerMaster CM
            WHERE CM.CompanyCode = @CompanyCode
              AND CM.TM = @TM
        )

    ) X
    WHERE X.TMCode IS NOT NULL;

END


------------------------------------------------------------
-- ROLE 4 : ZM
--
-- ZM sees:
-- Direct TMs
-- RM -> TM hierarchy below him
-- Himself if directly mapped as TM
------------------------------------------------------------
ELSE IF @UserRoleId = 4
BEGIN

    ;WITH UserHierarchy AS
    (
        --------------------------------------------------------
        -- Direct reports of ZM
        --------------------------------------------------------
        SELECT
            U.UserCode,
            U.RoleId,
            U.RepManCode
        FROM Users U
        WHERE U.CompanyCode = @CompanyCode
          AND U.RepManCode = @TM
          AND U.IsActive = 1

        UNION ALL

        --------------------------------------------------------
        -- Recursively get users below direct reports
        --
        -- Example:
        -- ZM
        --  ↓
        -- RM
        --  ↓
        -- TM
        --------------------------------------------------------
        SELECT
            U.UserCode,
            U.RoleId,
            U.RepManCode
        FROM Users U
        INNER JOIN UserHierarchy H
            ON U.RepManCode = H.UserCode
        WHERE U.CompanyCode = @CompanyCode
          AND U.IsActive = 1
    )

    INSERT INTO #AccessibleTMs
    (
        TMCode
    )
    SELECT DISTINCT
        X.TMCode
    FROM
    (
        --------------------------------------------------------
        -- Actual TM users below ZM
        --------------------------------------------------------
        SELECT
            H.UserCode AS TMCode
        FROM UserHierarchy H
        WHERE H.RoleId = 2

        UNION

        --------------------------------------------------------
        -- Include ZM himself if directly mapped as TM
        --------------------------------------------------------
        SELECT
            @TM AS TMCode
        WHERE EXISTS
        (
            SELECT 1
            FROM TB_CustomerMaster CM
            WHERE CM.CompanyCode = @CompanyCode
              AND CM.TM = @TM
        )

    ) X
    WHERE X.TMCode IS NOT NULL

    OPTION (MAXRECURSION 100);

END


------------------------------------------------------------
-- ROLE > 4
--
-- NSM / BHM / BusinessAdmin / FI / Commercial etc.
-- See all TMs belonging to requested company
------------------------------------------------------------
ELSE IF @UserRoleId > 4
BEGIN

    INSERT INTO #AccessibleTMs
    (
        TMCode
    )
    SELECT DISTINCT
        CM.TM
    FROM TB_CustomerMaster CM
    WHERE CM.CompanyCode = @CompanyCode
      AND CM.TM IS NOT NULL;

END;


    ------------------------------------------------------------
    -- 3. RESOLVE ACCESSIBLE PLANTS ONCE
    --
    -- Previously TB_CustomerMaster was checked while reading
    -- every StockDetails row.
    ------------------------------------------------------------
    CREATE TABLE #AccessiblePlants
    (
        Plant NVARCHAR(50) COLLATE DATABASE_DEFAULT NOT NULL
            PRIMARY KEY
    );

    INSERT INTO #AccessiblePlants
    (
        Plant
    )
    SELECT DISTINCT
        CM.Plant
    FROM TB_CustomerMaster CM
    INNER JOIN #AccessibleTMs ATM
        ON ATM.TMCode = CM.TM
    WHERE CM.CompanyCode = @CompanyCode
      AND CM.Plant IS NOT NULL;


    ------------------------------------------------------------
    -- 4. FILTER STOCK FIRST
    --
    -- IMPORTANT PERFORMANCE CHANGE:
    --
    -- Do NOT execute CHARINDEX / PATINDEX / REVERSE / SUBSTRING
    -- against all TB_StockDetails rows.
    --
    -- First reduce StockDetails to:
    --
    -- requested company
    -- accessible plants
    -- quantity > 0
    -- optional plant
    -- optional storage location
    ------------------------------------------------------------
    CREATE TABLE #FilteredStock
    (
        Material NVARCHAR(100) COLLATE DATABASE_DEFAULT,
        Material_Description NVARCHAR(500) COLLATE DATABASE_DEFAULT,
        Unrestricted_Kgs DECIMAL(18, 2),
        Plant NVARCHAR(50) COLLATE DATABASE_DEFAULT,
        Storage_Location NVARCHAR(50) COLLATE DATABASE_DEFAULT
    );


    INSERT INTO #FilteredStock
    (
        Material,
        Material_Description,
        Unrestricted_Kgs,
        Plant,
        Storage_Location
    )
    SELECT
        SD.Material,
        SD.Material_Description,
        CAST(ISNULL(SD.Unrestricted_Kgs, 0) AS DECIMAL(18, 2)),
        SD.Plant,
        SD.Storage_Location
    FROM TB_StockDetails SD
    INNER JOIN #AccessiblePlants AP
        ON AP.Plant = SD.Plant
    WHERE
        --------------------------------------------------------
        -- FIX COMPANY MIXING
        --------------------------------------------------------
        SD.CompanyCode = @CompanyCode

        --------------------------------------------------------
        -- ONLY AVAILABLE STOCK
        --------------------------------------------------------
        AND SD.Unrestricted_Kgs > 0

        --------------------------------------------------------
        -- OPTIONAL PLANT
        --------------------------------------------------------
        AND
        (
            @Plant IS NULL
            OR SD.Plant = @Plant
        )

        --------------------------------------------------------
        -- OPTIONAL STORAGE LOCATION
        --------------------------------------------------------
        AND
        (
            @StorageLocation IS NULL
            OR SD.Storage_Location = @StorageLocation
        )

        --------------------------------------------------------
        -- INVALID / DUMMY MATERIAL FILTER
        --------------------------------------------------------
        AND NULLIF(
                LTRIM(RTRIM(ISNULL(SD.Material, ''))),
                ''
            ) IS NOT NULL

        AND UPPER(
                LTRIM(RTRIM(ISNULL(SD.Material, '')))
            ) <> 'STRING'

    OPTION (RECOMPILE);


    ------------------------------------------------------------
    -- 5. FINAL RESULT TEMP TABLE
    ------------------------------------------------------------
    CREATE TABLE #TempStockDetails
    (
        SrNo INT IDENTITY(1,1),
        Variety NVARCHAR(50),
        Product NVARCHAR(100),
        Generation NVARCHAR(10),
        Grade NVARCHAR(10),
        Quantity DECIMAL(18, 2)
    );


    ------------------------------------------------------------
    -- 6. PARSE ONLY FILTERED STOCK
    ------------------------------------------------------------
    INSERT INTO #TempStockDetails
    (
        Variety,
        Product,
        Generation,
        Grade,
        Quantity
    )
    SELECT

        --------------------------------------------------------
        -- VARIETY
        -- Existing business rule:
        -- second word
        --------------------------------------------------------
        CASE
            WHEN SP.FirstSpace = 0
            THEN NULL

            WHEN SP.SecondSpace = 0
            THEN LTRIM(RTRIM(
                    SUBSTRING(
                        CD.CleanDescription,
                        SP.FirstSpace + 1,
                        LEN(CD.CleanDescription)
                    )
                 ))

            ELSE
                SUBSTRING(
                    CD.CleanDescription,
                    SP.FirstSpace + 1,
                    SP.SecondSpace - SP.FirstSpace - 1
                )
        END AS Variety,


        --------------------------------------------------------
        -- PRODUCT
        -- Existing business rule:
        -- first 3 words
        --------------------------------------------------------
        CASE
            WHEN SP.ThirdSpace > 0
            THEN LEFT(
                    CD.CleanDescription,
                    SP.ThirdSpace - 1
                 )

            ELSE CD.CleanDescription
        END AS Product,


        --------------------------------------------------------
        -- GENERATION
        --
        -- Priority 1:
        -- explicit G1/G2/G3/G4/etc from description
        --
        -- Priority 2:
        -- fallback to Material code
        --------------------------------------------------------
        CASE

            ----------------------------------------------------
            -- FROM DESCRIPTION
            ----------------------------------------------------
            WHEN GI.GradePosition > 0
                 AND TK.BeforeGradeLastToken IS NOT NULL
                 AND LEFT(
                        UPPER(TK.BeforeGradeLastToken),
                        1
                     ) = 'G'
                 AND LEN(TK.BeforeGradeLastToken) > 1
                 AND TRY_CONVERT(
                        INT,
                        SUBSTRING(
                            TK.BeforeGradeLastToken,
                            2,
                            LEN(TK.BeforeGradeLastToken)
                        )
                     ) IS NOT NULL

            THEN
                'G'
                +
                CONVERT(
                    VARCHAR(10),
                    TRY_CONVERT(
                        INT,
                        SUBSTRING(
                            TK.BeforeGradeLastToken,
                            2,
                            LEN(TK.BeforeGradeLastToken)
                        )
                    )
                )


            ----------------------------------------------------
            -- FALLBACK FROM MATERIAL CODE
            --
            -- ACOLG4M12MH11 -> G4
            ----------------------------------------------------
            WHEN TRY_CONVERT(
                    INT,
                    MG.MaterialGenDigits
                 ) IS NOT NULL

            THEN
                'G'
                +
                CONVERT(
                    VARCHAR(10),
                    TRY_CONVERT(
                        INT,
                        MG.MaterialGenDigits
                    )
                )

            ELSE NULL

        END AS Generation,


        --------------------------------------------------------
        -- GRADE
        --------------------------------------------------------
        CASE

            ----------------------------------------------------
            -- NORMAL DESCRIPTION FORMAT
            --
            -- GRADE M1       -> M1
            -- GRADE M12      -> M12
            -- GRADE M2A      -> M2A
            -- GRADE M2B      -> M2B
            -- GRADE TCP      -> TCP
            -- GRADE S03 MH23 -> S03
            ----------------------------------------------------
            WHEN GI.GradePosition > 0
                 AND NULLIF(
                        LTRIM(RTRIM(
                            TK.AfterGradeFirstToken
                        )),
                        ''
                     ) IS NOT NULL

            THEN
                UPPER(
                    LTRIM(RTRIM(
                        TK.AfterGradeFirstToken
                    ))
                )


            ----------------------------------------------------
            -- DESCRIPTION ENDS WITH "GRADE"
            --
            -- Example:
            -- POTATO Quintera (VDW 08-627) MH35 Grade
            --
            -- Material:
            -- AQUING4M4MH35
            --
            -- Grade = M4
            ----------------------------------------------------
            WHEN GI.GradePosition > 0
                 AND NULLIF(
                        LTRIM(RTRIM(
                            ISNULL(GI.AfterGrade, '')
                        )),
                        ''
                     ) IS NULL

                 AND NULLIF(
                        MG.MaterialGradeToken,
                        ''
                     ) IS NOT NULL

                 AND MG.MaterialGradeToken LIKE '[0-9]%'

                 AND MG.MaterialGradeToken
                        NOT LIKE '%[^0-9A-Z]%'

            THEN
                'M' + MG.MaterialGradeToken


            ----------------------------------------------------
            -- LEGACY FORMAT
            --
            -- -M1
            -- -M07
            -- -M2A
            -- -M2B
            -- -M 6
            ----------------------------------------------------
            WHEN LG.LegacyNormalized LIKE 'M[0-9]%'
                 AND LG.LegacyNormalized
                        NOT LIKE '%[^A-Z0-9]%'

            THEN LG.LegacyNormalized


            ----------------------------------------------------
            -- LEGACY TCP
            ----------------------------------------------------
            WHEN LG.LegacyNormalized = 'TCP'
            THEN 'TCP'


            ----------------------------------------------------
            -- LEGACY MIX GRAD
            ----------------------------------------------------
            WHEN LG.LegacyNormalized = 'MIXGRAD'
            THEN 'MIX GRAD'


            ELSE NULL

        END AS Grade,


        --------------------------------------------------------
        -- QUANTITY
        --------------------------------------------------------
        FS.Unrestricted_Kgs AS Quantity


    FROM #FilteredStock FS


    ------------------------------------------------------------
    -- CLEAN DESCRIPTION
    ------------------------------------------------------------
    CROSS APPLY
    (
        SELECT
            LTRIM(RTRIM(
                REPLACE(
                    REPLACE(
                        REPLACE(
                            REPLACE(
                                ISNULL(
                                    FS.Material_Description,
                                    ''
                                ),
                                CHAR(9),
                                ' '
                            ),
                            '  ',
                            ' '
                        ),
                        '  ',
                        ' '
                    ),
                    '  ',
                    ' '
                )
            )) AS CleanDescription
    ) CD


    ------------------------------------------------------------
    -- FIRST SPACE / GRADE / HYPHEN POSITIONS
    ------------------------------------------------------------
    CROSS APPLY
    (
        SELECT

            CHARINDEX(
                ' ',
                CD.CleanDescription
            ) AS FirstSpace,


            ----------------------------------------------------
            -- + ' ' allows descriptions ending exactly:
            --
            -- "... Grade"
            ----------------------------------------------------
            CHARINDEX(
                ' GRADE ',
                UPPER(CD.CleanDescription) + ' '
            ) AS GradePosition,


            CHARINDEX(
                '-',
                REVERSE(CD.CleanDescription)
            ) AS ReverseHyphenPosition

    ) P1


    ------------------------------------------------------------
    -- SECOND SPACE
    ------------------------------------------------------------
    CROSS APPLY
    (
        SELECT
            CASE
                WHEN P1.FirstSpace > 0
                THEN CHARINDEX(
                        ' ',
                        CD.CleanDescription,
                        P1.FirstSpace + 1
                     )

                ELSE 0
            END AS SecondSpace
    ) P2


    ------------------------------------------------------------
    -- THIRD SPACE
    ------------------------------------------------------------
    CROSS APPLY
    (
        SELECT

            P1.FirstSpace,

            P2.SecondSpace,

            CASE
                WHEN P2.SecondSpace > 0
                THEN CHARINDEX(
                        ' ',
                        CD.CleanDescription,
                        P2.SecondSpace + 1
                     )

                ELSE 0
            END AS ThirdSpace

    ) SP


    ------------------------------------------------------------
    -- BEFORE / AFTER GRADE
    ------------------------------------------------------------
    CROSS APPLY
    (
        SELECT

            P1.GradePosition,


            CASE
                WHEN P1.GradePosition > 0
                THEN
                    LTRIM(RTRIM(
                        LEFT(
                            CD.CleanDescription,
                            P1.GradePosition - 1
                        )
                    ))

                ELSE NULL
            END AS BeforeGrade,


            CASE
                WHEN P1.GradePosition > 0
                THEN
                    LTRIM(RTRIM(
                        SUBSTRING(
                            CD.CleanDescription,
                            P1.GradePosition
                                + LEN(' GRADE '),
                            LEN(CD.CleanDescription)
                        )
                    ))

                ELSE NULL
            END AS AfterGrade

    ) GI


    ------------------------------------------------------------
    -- TOKENS AROUND GRADE
    ------------------------------------------------------------
    CROSS APPLY
    (
        SELECT

            ----------------------------------------------------
            -- TOKEN BEFORE GRADE
            --
            -- ... G3 GRADE M1
            --     ^^
            ----------------------------------------------------
            CASE
                WHEN GI.BeforeGrade IS NOT NULL
                     AND GI.BeforeGrade <> ''
                THEN
                    RIGHT(
                        GI.BeforeGrade,
                        CHARINDEX(
                            ' ',
                            REVERSE(GI.BeforeGrade) + ' '
                        ) - 1
                    )

                ELSE NULL
            END AS BeforeGradeLastToken,


            ----------------------------------------------------
            -- FIRST TOKEN AFTER GRADE
            --
            -- GRADE S03 MH23 -> S03
            ----------------------------------------------------
            CASE
                WHEN GI.AfterGrade IS NOT NULL
                     AND GI.AfterGrade <> ''
                THEN
                    LEFT(
                        GI.AfterGrade,
                        CHARINDEX(
                            ' ',
                            GI.AfterGrade + ' '
                        ) - 1
                    )

                ELSE NULL
            END AS AfterGradeFirstToken

    ) TK


    ------------------------------------------------------------
    -- FIND GENERATION IN MATERIAL CODE
    --
    -- ACOLG4M12MH11
    --     ^^
    ------------------------------------------------------------
    CROSS APPLY
    (
        SELECT
            PATINDEX(
                '%G[0-9]%',
                UPPER(ISNULL(FS.Material, ''))
            ) AS MaterialGenPosition
    ) MGP


    ------------------------------------------------------------
    -- EVERYTHING AFTER MATERIAL G
    --
    -- ACOLG4M12MH11
    --      4M12MH11
    ------------------------------------------------------------
    CROSS APPLY
    (
        SELECT
            CASE
                WHEN MGP.MaterialGenPosition > 0
                THEN
                    SUBSTRING(
                        UPPER(FS.Material),
                        MGP.MaterialGenPosition + 1,
                        LEN(FS.Material)
                    )

                ELSE NULL
            END AS MaterialGenTail
    ) MGT


    ------------------------------------------------------------
    -- EXTRACT GENERATION DIGITS
    --
    -- 4M12MH11 -> 4
    ------------------------------------------------------------
    CROSS APPLY
    (
        SELECT
            CASE
                WHEN MGT.MaterialGenTail IS NOT NULL
                THEN
                    LEFT(
                        MGT.MaterialGenTail,
                        PATINDEX(
                            '%[^0-9]%',
                            MGT.MaterialGenTail + 'X'
                        ) - 1
                    )

                ELSE NULL
            END AS MaterialGenDigits
    ) MGD


    ------------------------------------------------------------
    -- FIND GRADE "M" AFTER GENERATION
    --
    -- ACOLG4M12MH11
    --       ^
    ------------------------------------------------------------
    CROSS APPLY
    (
        SELECT
            CASE
                WHEN MGP.MaterialGenPosition > 0
                THEN
                    CHARINDEX(
                        'M',
                        UPPER(FS.Material),
                        MGP.MaterialGenPosition + 2
                    )

                ELSE 0
            END AS MaterialGradePosition
    ) MGPOS


    ------------------------------------------------------------
    -- MATERIAL GRADE TAIL
    --
    -- ACOLG4M12MH11
    --        12MH11
    ------------------------------------------------------------
    CROSS APPLY
    (
        SELECT
            CASE
                WHEN MGPOS.MaterialGradePosition > 0
                THEN
                    SUBSTRING(
                        UPPER(FS.Material),
                        MGPOS.MaterialGradePosition + 1,
                        LEN(FS.Material)
                    )

                ELSE NULL
            END AS MaterialGradeTail
    ) MGTAIL


    ------------------------------------------------------------
    -- MATERIAL GRADE TOKEN
    --
    -- 12MH11   -> 12
    -- 2AMH11   -> 2A
    -- 2BMH11   -> 2B
    --
    -- This is more flexible than manually checking A/B suffix.
    ------------------------------------------------------------
    CROSS APPLY
    (
        SELECT
            CASE
                WHEN MGTAIL.MaterialGradeTail IS NOT NULL
                THEN
                    LEFT(
                        MGTAIL.MaterialGradeTail,
                        CHARINDEX(
                            'M',
                            MGTAIL.MaterialGradeTail + 'M'
                        ) - 1
                    )

                ELSE NULL
            END AS MaterialGradeToken
    ) MGTK


    ------------------------------------------------------------
    -- FINAL MATERIAL VALUES
    ------------------------------------------------------------
    CROSS APPLY
    (
        SELECT
            MGD.MaterialGenDigits
                AS MaterialGenDigits,

            MGTK.MaterialGradeToken
                AS MaterialGradeToken
    ) MG


    ------------------------------------------------------------
    -- LEGACY DESCRIPTION VALUE
    --
    -- -M1
    -- -M07
    -- -M2A
    -- -TCP
    -- -Mix Grad
    ------------------------------------------------------------
    CROSS APPLY
    (
        SELECT
            CASE
                WHEN P1.ReverseHyphenPosition > 0
                THEN
                    LTRIM(RTRIM(
                        RIGHT(
                            CD.CleanDescription,
                            P1.ReverseHyphenPosition - 1
                        )
                    ))

                ELSE NULL
            END AS LegacyPart
    ) LP


    ------------------------------------------------------------
    -- NORMALIZE LEGACY VALUE
    ------------------------------------------------------------
    CROSS APPLY
    (
        SELECT
            UPPER(
                REPLACE(
                    ISNULL(
                        LP.LegacyPart,
                        ''
                    ),
                    ' ',
                    ''
                )
            ) AS LegacyNormalized
    ) LG

    OPTION (RECOMPILE);


    ------------------------------------------------------------
    -- 7. RETURN DATA
    ------------------------------------------------------------
    SELECT
        SrNo,
        Variety,
        Product,
        Generation,
        Grade,
        Quantity
    FROM #TempStockDetails
    ORDER BY SrNo;


    ------------------------------------------------------------
    -- 8. CLEANUP
    ------------------------------------------------------------
    DROP TABLE #TempStockDetails;
    DROP TABLE #FilteredStock;
    DROP TABLE #AccessiblePlants;
    DROP TABLE #AccessibleTMs;

END;
GO