/****** Object:  StoredProcedure [dbo].[Get_Approved_SalesIndentList_MASL]    Script Date: 10/6/2026 5:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Get_Approved_SalesIndentList_MASL]
    @CompanyCode BIGINT,
    @UserCode NVARCHAR(50),
    @RoleId INT
AS
BEGIN
    SET NOCOUNT ON;
	
    BEGIN TRY

    DECLARE @ApprovedOrders TABLE
(
    CompanyCode BIGINT,
    CreateOrderNumber BIGINT,
    CartId BIGINT
);
      
	   IF @RoleId = 1 -- for Dealer Login 
        BEGIN

            INSERT INTO @ApprovedOrders
            SELECT CompanyCode, CreateOrderNumber, CartId
            FROM TB_Create_Dealer_Order
            WHERE CompanyCode = @CompanyCode
            AND UserCode = @UserCode
            AND TMApproval = 1
            AND RMApproval = 1
            AND SONumber IS NOT NULL
            AND LTRIM(RTRIM(SONumber)) <> ''
            AND (OrderRejectStatus = 0 OR OrderRejectStatus IS NULL);


            SELECT 
                CompanyCode, 
                CreateOrderNumber,
                DateOfPurchase,
                CartId,
                UserId,
                Total_Items,
                Total_Price,
                TMApproval,
                RMApproval,
                CustomerName,
                TMApproval_Date,
                RMApproval_Date,
                TMName,
                RMName,
                RepManCode,
                Email,
                SecondApprovalUserCode,
                SalesIndentStatus,
                UserCode,
				RMCode,
				ZSMCode,
				  NSMCode,
                NSMName,
                NSM_Approval,
                BHMName,
                BHM_Approval,
                BHM_Reporting_Code,
				Approve_From_C_AND_F,
				Approve_From_Plant,
				SONumber,
				SO_Date
            FROM TB_Create_Dealer_Order
            WHERE CompanyCode = @CompanyCode 
                AND UserCode = @UserCode 
				AND TMApproval = 1 
				AND RMApproval = 1 
				 AND SONumber IS NOT NULL
				 AND LTRIM(RTRIM(SONumber)) <> ''
                AND (OrderRejectStatus = 0 OR OrderRejectStatus IS NULL) 
            ORDER BY CreateOrderNumber DESC;
        END 
      
	  ELSE IF @RoleId IN (2, 3, 4) -- for Dealer TM, RM, ZM, or NSM 
		BEGIN

                INSERT INTO @ApprovedOrders
        SELECT CompanyCode, CreateOrderNumber, CartId
        FROM TB_Create_Dealer_Order
        WHERE CompanyCode=@CompanyCode
        AND (RepManCode=@UserCode
         OR SecondApprovalUserCode=@UserCode
         OR ZSMCode=@UserCode)
        AND TMApproval=1
        AND RMApproval=1
        AND SONumber IS NOT NULL
        AND LTRIM(RTRIM(SONumber)) <> ''
        AND (OrderRejectStatus=0 OR OrderRejectStatus IS NULL);

            SELECT 
                CompanyCode, 
                CreateOrderNumber,
                DateOfPurchase,
                CartId,
                UserId,
                Total_Items,
                Total_Price,
                TMApproval,
                RMApproval,
                CustomerName,
                TMApproval_Date,
                RMApproval_Date,
                TMName,
                RMName,
                RepManCode,
                Email,
                SecondApprovalUserCode,
                SalesIndentStatus,
                --OrderRejectStatus,
                UserCode,
				RMCode,
				ZSMCode,
				  NSMCode,
                NSMName,
                NSM_Approval,
                BHMName,
                BHM_Approval,
                BHM_Reporting_Code,
				Approve_From_C_AND_F,
				Approve_From_Plant,
				SONumber,
				SO_Date
		  FROM TB_Create_Dealer_Order
            WHERE CompanyCode = @CompanyCode 
 ---AND (RepManCode = @UserCode OR RMCode=@UserCode)
  AND (RepManCode=@UserCode OR SecondApprovalUserCode=@UserCode OR ZSMCode=@UserCode)

 AND TMApproval = 1 
 AND RMApproval = 1
  AND SONumber IS NOT NULL
              AND LTRIM(RTRIM(SONumber)) <> ''
                AND (OrderRejectStatus = 0 OR OrderRejectStatus IS NULL) 
            ORDER BY CreateOrderNumber DESC;
        END
ELSE IF @RoleId IN (5,6,7,8,9) -- for Top Management Roles Login
        BEGIN

        INSERT INTO @ApprovedOrders
SELECT CompanyCode, CreateOrderNumber, CartId
FROM TB_Create_Dealer_Order
WHERE CompanyCode=@CompanyCode
AND TMApproval=1
AND RMApproval=1
AND SONumber IS NOT NULL
AND LTRIM(RTRIM(SONumber)) <> ''
AND (OrderRejectStatus=0 OR OrderRejectStatus IS NULL);

            SELECT 
                CompanyCode, 
                CreateOrderNumber,
                DateOfPurchase,
                CartId,
                UserId,
                Total_Items,
                Total_Price,
                TMApproval,
                RMApproval,
                CustomerName,
                TMApproval_Date,
                RMApproval_Date,
                TMName,
                RMName,
                RepManCode,
                Email,
                SecondApprovalUserCode,
                SalesIndentStatus,
               -- OrderRejectStatus,
                UserCode,
				RMCode,
				ZSMCode,
				 NSMCode,
                NSMName,
                NSM_Approval,
                BHMName,
                BHM_Approval,
                BHM_Reporting_Code,
				Approve_From_C_AND_F,
				Approve_From_Plant,
				SONumber,
				SO_Date
            FROM TB_Create_Dealer_Order
            WHERE CompanyCode = @CompanyCode 
                AND TMApproval = 1 
				AND RMApproval = 1 
				AND SONumber IS NOT NULL
              AND LTRIM(RTRIM(SONumber)) <> ''
                AND (OrderRejectStatus = 0 OR OrderRejectStatus IS NULL) 
            ORDER BY CreateOrderNumber DESC;
        END 
	       ELSE
        BEGIN
            PRINT 'Invalid User Role. No data found.';
        END

        SELECT
    a.CreateOrderNumber,
    i.SrNo,
    i.Material_Description,
    i.Material_Code,
    ISNULL(Stock.Unrestricted_Kgs, 0) AS Stock,
    i.Quantity,
    i.Rate,
    i.Qty_Into_Rate_Amt,
    i.CartId,
    i.CartItemId
FROM @ApprovedOrders a
INNER JOIN TB_Cart_Items i
    ON a.CartId = i.CartId
   AND a.CompanyCode = i.CompanyCode

   INNER JOIN TB_Create_Dealer_Order o
    ON a.CreateOrderNumber = o.CreateOrderNumber
   AND a.CompanyCode = o.CompanyCode

OUTER APPLY
(
    SELECT TOP 1
        Unrestricted_Kgs
    FROM TB_StockDetails ts
   WHERE ts.CompanyCode = o.CompanyCode
      AND LTRIM(RTRIM(ts.Material)) =
          LTRIM(RTRIM(i.Material_Code))
    ORDER BY ts.Unrestricted_Kgs DESC
) Stock
ORDER BY a.CreateOrderNumber DESC, i.SrNo;

    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(MAX) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();
        DECLARE @ErrorLine INT = ERROR_LINE();
        DECLARE @ErrorProcedure NVARCHAR(200) = ERROR_PROCEDURE();
        
        -- Insert error details into the error log table
        INSERT INTO Error_Log (ErrorMessage, ErrorSeverity, ErrorState, ErrorLine, ErrorProcedure, ErrorDateTime)
        VALUES (@ErrorMessage, @ErrorSeverity, @ErrorState, @ErrorLine, @ErrorProcedure, GETDATE());
        
       PRINT 'Error occurred in Get_Approved_SalesIndentList_MASL';
        PRINT 'Error Number: ' + CAST(ERROR_NUMBER() AS NVARCHAR(10));
        PRINT 'Error Message: ' + @ErrorMessage;
        PRINT 'Error Severity: ' + CAST(@ErrorSeverity AS NVARCHAR(10));
        PRINT 'Error State: ' + CAST(@ErrorState AS NVARCHAR(10));
        PRINT 'Error Line: ' + CAST(@ErrorLine AS NVARCHAR(10));
        PRINT 'Error Procedure: ' + ISNULL(@ErrorProcedure, 'N/A');
    END CATCH;
END
GO
